.no-bullet {
  list-style-type: none;
  padding: 0;
}

.main-heading {
  font-size: 35px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.image-parent {
  border-radius: 10%;
  overflow: hidden;
}

.project-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.btn-hover {
  --bs-btn-hover-bg: white;
  --bs-btn-hover-color: #dc3545;
}

.btn-hover-inverse {
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-color: white;
}